<!-- statistic-block
			================================================== -->
<section class="statistic">
	<div class="container">

		<div class="statistic__box">
			<div class="row">

				<div class="col-lg-3 col-sm-6">

					<!-- statistic-post module -->
					<div class="statistic-post">

						<span class="statistic-post__icon">
							<i class="la la-fire" aria-hidden="true"></i>
						</span>

						<div class="statistic-post__content">
							<h1 class="statistic-post__title">
								<span class="timer" data-from="0" data-to="100">100</span> +
							</h1>
							<p class="statistic-post__description">
								New Places Every Day
							</p>
						</div>

					</div>
					<!-- end statistic-post module -->

				</div>

				<div class="col-lg-3 col-sm-6">

					<!-- statistic-post module -->
					<div class="statistic-post">

						<span class="statistic-post__icon">
							<i class="la la-thumbs-up" aria-hidden="true"></i>
						</span>

						<div class="statistic-post__content">
							<h1 class="statistic-post__title">
								<span class="timer" data-from="0" data-to="9500">9500</span> +
							</h1>
							<p class="statistic-post__description">
								Happy Costumers
							</p>
						</div>

					</div>
					<!-- end statistic-post module -->

				</div>

				<div class="col-lg-3 col-sm-6">

					<!-- statistic-post module -->
					<div class="statistic-post">

						<span class="statistic-post__icon">
							<i class="la la-comments" aria-hidden="true"></i>
						</span>

						<div class="statistic-post__content">
							<h1 class="statistic-post__title">
								<span class="timer" data-from="0" data-to="25000">25000</span> +
							</h1>
							<p class="statistic-post__description">
								Costumers Review
							</p>
						</div>

					</div>
					<!-- end statistic-post module -->

				</div>

				<div class="col-lg-3 col-sm-6">

					<!-- statistic-post module -->
					<div class="statistic-post">

						<span class="statistic-post__icon">
							<i class="la la-street-view" aria-hidden="true"></i>
						</span>

						<div class="statistic-post__content">
							<h1 class="statistic-post__title">
								<span class="timer" data-from="0" data-to="5500">5500</span> +
							</h1>
							<p class="statistic-post__description">
								Unique Places and Events
							</p>
						</div>

					</div>
					<!-- end statistic-post module -->

				</div>

			</div>
		</div>

	</div>
</section>
<!-- End statistic-block -->