<section class="trending-places">
	<div class="col-lg-8">
		<div class="container">

			<!-- section-header module -->
			<div class="section-header">
				<h1 class="section-header__title">
					Favori Mekanlar
				</h1>
			</div>
			<!-- end section-header module -->


			<div class="trending-places__box owl-wrapper" id="trending-places-box">
				<div class="owl-carousel" data-num="3">

					<div class="item">

						<!-- place-post module -->
						<div class="place-post">
							<div class="place-post__gal-box">
								<img class="place-post__image" src="~/html/images/h1.jpg" alt="place-image">
								<span class="place-post__rating">9.9</span>
								<a class="place-post__like" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							</div>
							<div class="place-post__content">
								<p class="place-post__info">
									<i class="fa fa-clock-o" aria-hidden="true"></i>
									<span class="open">Open</span> until 8:00 PM
								</p>
								<h2 class="place-post__title">
									<a href="listing-detail-large.html">Yusuf Hotel</a>
								</h2>
								<p class="place-post__description">
									Restaurant
									<span>
										<i class="fa fa-usd red-col" aria-hidden="true"></i>
										<i class="fa fa-usd red-col" aria-hidden="true"></i>
										<i class="fa fa-usd" aria-hidden="true"></i>
										<i class="fa fa-usd" aria-hidden="true"></i>
									</span>
									<span class="place-post__description-review">
										<i class="fa fa-comment-o" aria-hidden="true"></i>
										54 Reviews
									</span>
								</p>
								<p class="place-post__address">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									Gelincik çıkmazı sokak/Gültepe
								</p>
							</div>
						</div>
						<!-- end place-post module -->

					</div>
				</div>
			</div>
			<div class="center-button">
				<a class="text-btn" href="#">
					View All Places <span>(482)</span>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- tips & reviews-box -->
<div class="listing-detail__reviews element-waypoint" id="tips-reviews-box">
	<h2 class="listing-detail__content-title">
		Tips & Reviews
		<a href="#leave-review" class="navigate-btn"><i class="la la-pencil"></i> Write a Review</a>
	</h2>
	<div class="listing-detail__reviews-box">
