@model City
<div class="listing-detail__content">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="listing-detail__content-box">

<!-- overview box -->
<div class="listing-detail__overview element-waypoint" id="overview-box">
	<h2 class="listing-detail__content-title">Tarihi</h2>
	<p class="listing-detail__content-description">
       
            @Model.Description
  
	</p>
</div>