@model List<Otel>
<!-- trending-places-block
			================================================== -->
<section class="trending-places">
	<div class="container">

		<!-- section-header module -->
		<div class="section-header">
			<h1 class="section-header__title">
				Top Trending Places
			</h1>
			<p class="section-header__description">
				Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
			</p>
		</div>
		<!-- end section-header module -->


		<div class="trending-places__box owl-wrapper">
			<div class="owl-carousel" data-num="5">
				@foreach(var item in Model){
				<div class="item">

					<!-- place-post module -->
					<div class="place-post">
						<div class="place-post__gal-box">
							<img class="place-post__image" src="~/html/images/@item.Images[0].Url" alt="place-image">
							<span class="place-post__rating">9.9</span>
								<a class="place-post__like" href="/DetailLarge/Index?id=@item.Id"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
						</div>
						<div class="place-post__content">
							<p class="place-post__info">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								<span class="open">Open</span> until 8:00 PM
							</p>
							<h2 class="place-post__title">
									<a href="/DetailLarge/Index?id=@item.Id">@item.Name</a>
							</h2>
							<p class="place-post__description">
								@item.Category
								<span>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd" aria-hidden="true"></i>
									<i class="fa fa-usd" aria-hidden="true"></i>
								</span>
								<span class="place-post__description-review">
									<i class="fa fa-comment-o" aria-hidden="true"></i>
									@item.City
								</span>
							</p>
							<p class="place-post__address">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								@item.Location
							</p>
						</div>
					</div>
					<!-- end place-post module -->

				</div>
				}
			</div>
		</div>
		<div class="center-button">
			<a class="text-btn" href="#">
				View All Places <span>(482)</span>
			</a>
		</div>
	</div>
</section>
<!-- End trending-places-block -->