<!-- trending-places-block
			================================================== -->
<section class="trending-places">
	<div class="container">

		<!-- section-header module -->
		<div class="section-header">
			<h1 class="section-header__title">
				Top Trending Places
			</h1>
			<p class="section-header__description">
				Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
			</p>
		</div>
		<!-- end section-header module -->


		<div class="trending-places__box owl-wrapper">
			<div class="owl-carousel" data-num="5">

				<div class="item">

					<!-- place-post module -->
					<div class="place-post">
						<div class="place-post__gal-box">
							<img class="place-post__image" src="~/html/images/h1.jpg" alt="place-image">
							<span class="place-post__rating">9.9</span>
							<a class="place-post__like" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
						</div>
						<div class="place-post__content">
							<p class="place-post__info">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								<span class="open">Open</span> until 8:00 PM
							</p>
							<h2 class="place-post__title">
								<a href="listing-detail-large.html">Yusuf Hotel</a>
							</h2>
							<p class="place-post__description">
								Restaurant
								<span>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd" aria-hidden="true"></i>
									<i class="fa fa-usd" aria-hidden="true"></i>
								</span>
								<span class="place-post__description-review">
									<i class="fa fa-comment-o" aria-hidden="true"></i>
									54 Reviews
								</span>
							</p>
							<p class="place-post__address">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								Gelincik çıkmazı sokak/Gültepe
							</p>
						</div>
					</div>
					<!-- end place-post module -->

				</div>

				<div class="item">

					<!-- place-post module -->
					<div class="place-post">
						<div class="place-post__gal-box">
							<img class="place-post__image" src="~/html/upload/2.jpg" alt="place-image">
							<span class="place-post__rating">9.0</span>
							<a class="place-post__like" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
						</div>
						<div class="place-post__content">
							<p class="place-post__info">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								<span class="closed">Closed</span> until 11:00 AM
							</p>
							<h2 class="place-post__title">
								<a href="listing-detail-large.html">Frankies 457 Spuntino</a>
							</h2>
							<p class="place-post__description">
								Cafe
								<span>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd" aria-hidden="true"></i>
								</span>
								<span class="place-post__description-review">
									<i class="fa fa-comment-o" aria-hidden="true"></i>
									23 Reviews
								</span>
							</p>
							<p class="place-post__address">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								457 Court St, Brooklyn
							</p>
						</div>
					</div>
					<!-- end place-post module -->

				</div>

				<div class="item">

					<!-- place-post module -->
					<div class="place-post">
						<div class="place-post__gal-box">
							<img class="place-post__image" src="~/html/upload/3.jpg" alt="place-image">
							<span class="place-post__rating average-rat">8.5</span>
							<a class="place-post__like" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
						</div>
						<div class="place-post__content">
							<p class="place-post__info">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								<span class="open">Open</span> 24/7
							</p>
							<h2 class="place-post__title">
								<a href="listing-detail-large.html">Hotel Van Gogh</a>
							</h2>
							<p class="place-post__description">
								Hostel
								<span>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd" aria-hidden="true"></i>
									<i class="fa fa-usd" aria-hidden="true"></i>
								</span>
								<span class="place-post__description-review">
									<i class="fa fa-comment-o" aria-hidden="true"></i>
									48 Reviews
								</span>
							</p>
							<p class="place-post__address">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								Van de Veldestraat 5, Amsterdam
							</p>
						</div>
					</div>
					<!-- end place-post module -->

				</div>

				<div class="item">

					<!-- place-post module -->
					<div class="place-post">
						<div class="place-post__gal-box">
							<img class="place-post__image" src="~/html/upload/4.jpg" alt="place-image">
							<span class="place-post__rating">9.1</span>
							<a class="place-post__like" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
						</div>
						<div class="place-post__content">
							<p class="place-post__info">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								<span class="open">Likely Open</span>
							</p>
							<h2 class="place-post__title">
								<a href="listing-detail-large.html">Caffè Pascucci</a>
							</h2>
							<p class="place-post__description">
								Cafe
								<span>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd" aria-hidden="true"></i>
								</span>
								<span class="place-post__description-review">
									<i class="fa fa-comment-o" aria-hidden="true"></i>
									58 Reviews
								</span>
							</p>
							<p class="place-post__address">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								Piazza della Repubblica, Florence
							</p>
						</div>
					</div>
					<!-- end place-post module -->

				</div>

				<div class="item">

					<!-- place-post module -->
					<div class="place-post">
						<div class="place-post__gal-box">
							<img class="place-post__image" src="~/html/upload/5.jpg" alt="place-image">
							<span class="place-post__rating solid-rat">6.2</span>
							<a class="place-post__like" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
						</div>
						<div class="place-post__content">
							<p class="place-post__info">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								<span class="open">Open</span> 24/7
							</p>
							<h2 class="place-post__title">
								<a href="listing-detail-large.html">Beautiful City Hostel & Hotel</a>
							</h2>
							<p class="place-post__description">
								Hotel
								<span>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd" aria-hidden="true"></i>
									<i class="fa fa-usd" aria-hidden="true"></i>
								</span>
								<span class="place-post__description-review">
									<i class="fa fa-comment-o" aria-hidden="true"></i>
									11 Reviews
								</span>
							</p>
							<p class="place-post__address">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								12 rue de l'atlas, Paris
							</p>
						</div>
					</div>
					<!-- end place-post module -->

				</div>

				<div class="item">

					<!-- place-post module -->
					<div class="place-post">
						<div class="place-post__gal-box">
							<img class="place-post__image" src="~/html/upload/1.jpg" alt="place-image">
							<span class="place-post__rating">9.3</span>
							<a class="place-post__like" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
						</div>
						<div class="place-post__content">
							<p class="place-post__info">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								<span class="open">Open</span> until 8:00 PM
							</p>
							<h2 class="place-post__title">
								<a href="listing-detail-large.html">Fifteen Restaurant & Cheese bar</a>
							</h2>
							<p class="place-post__description">
								Restaurant
								<span>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd red-col" aria-hidden="true"></i>
									<i class="fa fa-usd" aria-hidden="true"></i>
								</span>
								<span class="place-post__description-review">
									<i class="fa fa-comment-o" aria-hidden="true"></i>
									54 Reviews
								</span>
							</p>
							<p class="place-post__address">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								1149 3rd St (Wilshire), Santa Monica
							</p>
						</div>
					</div>
					<!-- end place-post module -->

				</div>

			</div>
		</div>
		<div class="center-button">
			<a class="text-btn" href="#">
				View All Places <span>(482)</span>
			</a>
		</div>
	</div>
</section>
<!-- End trending-places-block -->