@model LoginViewModel
@{
    ViewData["Title"] = "SignIn";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<!-- Sign In Link - Yeni pencere yerine normal link -->
		<a class="nav-item nav-link active" href="/User/SignIn" role="tab">
			Sign in
		</a>

		<!-- Register Link - Yeni pencere yerine normal link -->
		<a class="nav-link" href="/User/Register" role="tab">
			Register
		</a>
	</div>
</nav>
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-sign" role="tabpanel" aria-labelledby="nav-sign-tab">
		@if (TempData["success"] != null)
		{
			<div class="alert alert-warning">
				@TempData["success"]
			</div>
		}
		<form asp-action="User" asp-controller="SignIn" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
			<div class="mb-3">
				<label asp-for="Email" class="form-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Password" class="form-label"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>

			<a class="sign-form__forget-link" href="/User/ForgotPassword">Şifremi Unuttum</a>
			<button class="sign-form__submit" id="submit-loggin" type="submit">
				<i class="fa fa-sign-in" aria-hidden="true"></i>

				<a href="/User/SignIn">Giriş Yap</a>
			</button>
			<p class="sign-form__text">
				or Login With
				<a href="/User/Register">Kayıt Ol</a>
			</p>
		</form>
		<!-- sign-form-module -->
		<!-- End sign-form-module -->

	</div>
</div>