@model Otel
<div class="listing-detail__gal">
	            <picture>

	@* 	<source media="(min-width: 900px)" srcset="~/html/images/3.png">
			<source media="(min-width: 568px)" srcset="~/html/images/3.png">
			<source media="(min-width: 200px)" srcset="~/html/images/3.png"> *@
		<img src="~/html/images/@Model.Images[1].Url" alt="">

	            </picture>
			
	<div class="listing-detail__gal-box">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p class="listing-detail__rate">9.3 <span>/ 10</span></p>
					<h1 class="listing-detail__title">Fifteen Restaurant & Cheese Bar</h1>
					<p class="listing-detail__address"><i class="fa fa-map-marker"></i>1149 3rd St (Wilshire), Santa Monica</p>
				</div>
				<div class="col-md-6">
					<div class="listing-detail__buttons">
						<a class="btn-default navigate-btn" href="#leave-review">
							<i class="la la-pencil" aria-hidden="true"></i>
							Write a Review
						</a>
						<a class="btn-default" href="#">
							<i class="la la-heart-o" aria-hidden="true"></i>
							Save
						</a>
						<a class="btn-default" href="#">
							<i class="la la-share-alt" aria-hidden="true"></i>
							Share
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>