@{
	ViewData["Title"] = "_Layout.cshtml";
	Layout = null;
}
<!doctype html>


<html lang="en" class="no-js">
<head>
	<title>Triptip</title>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="~/html/css/triptip-assets.min.css">
	<link rel="stylesheet" type="text/css" href="~/html/css/style.css">

</head>
<body>

	<!-- Container -->
	<div id="container">
		<!-- Header
			================================================== -->
		<header class="clearfix white-header-style fullwidth-with-search">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">

					<a class="navbar-brand" href="index.html">
						<img src="~/html/images/logo-black.png" alt="">
					</a>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li>
								<a class="active" href="/">Home <i class="fa fa-caret-down" aria-hidden="true"></i></a>
								<ul class="dropdown">
									<li><span>Demo Pages</span></li>
									<li><a href="/">Homepage 1</a></li>
								</ul>
							</li>
							<li>
								<a href="portfolio.html">Pages <i class="fa fa-caret-down" aria-hidden="true"></i></a>
								<div class="megadropdown">
									<div class="dropdown-box">
										<span>Explore pages</span>
										<ul class="dropdown-list">
											<li><a href="explore-sidebar-map.html">Explore map sidebar</a></li>
											<li><a href="explore-fullwidth-map.html">Explore fullwidth map</a></li>
											<li><a href="explore-category.html">Explore by Category</a></li>
											<li><a href="explore-fullwidth-map-list.html">Explore list</a></li>
										</ul>
									</div>
									<div class="dropdown-box">
										<span>Listing detail pages</span>
										<ul class="dropdown-list">
											<li><a href="listing-detail-large.html">Listing detail large image</a></li>
											<li><a href="listing-detail-sidebar.html">Listing detail with sidebar</a></li>
											<li><a href="listing-detail-fullwidth.html">Listing detail fullwidth</a></li>
										</ul>
									</div>
									<div class="dropdown-box">
										<span>Simple pages</span>
										<ul class="dropdown-list">
											<li><a href="about.html">About Us</a></li>
											<li><a href="blog.html">Blog</a></li>
											<li><a href="single-post.html">Blog Single Post</a></li>
										</ul>
									</div>
									<div class="dropdown-box">
										<span>Account pages</span>
										<ul class="dropdown-list">
											<li><a href="add-listing.html">Add listing</a></li>
											<li><a href="sign-page.html">Login &amp; Registration</a></li>
											<li><a href="user-page.html">User page</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
						<form class="search-form">
							<div class="search-form__input-holders">
								<input class="search-form__input" type="text" name="search-event" placeholder="What are you looking for?" />
								<select class="search-form__input search-form__input-location js-example-basic-multiple">
									<option>Location? </option>
									<option>New York</option>
									<option>California</option>
									<option>Washington</option>
									<option>New Jersey</option>
									<option>Miami</option>
									<option>San Francisco</option>
									<option>Boston</option>
									<option>Pensilvania</option>
									<option>Other</option>
								</select>
							</div>

							<button class="search-form__submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
						<ul class="navbar-nav ml-auto right-list">
							<li><a href="sign-page.html"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Sign In</a></li>
							<li><a href="sign-page.html"><i class="fa fa-user-o" aria-hidden="true"></i> Register</a></li>
						</ul>
						<a href="add-listing.html" class="add-list-btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Add Listing</a>
					</div>
				</div>
			</nav>
		</header>
		<!-- End Header -->
		<!-- add-listing
			================================================== -->
		<section class="add-listing">
			<div class="add-listing__title-box">
				<div class="container">
					<h1 class="add-listing__title">
						Add New Listing
					</h1>
				</div>
			</div>

			<!-- user scroll menu box -->
			<div class="user-detail__scroll-menu-box scroller-menu">
				<div class="container">
					<ul class="user-detail__scroll-menu navigate-section">
						<li>
							<a class="active" href="#general-info" data-offset="30">General Information</a>
						</li>
						<li>
							<a href="#location-box" data-offset="30">Location</a>
						</li>
						<li>
							<a href="#opening-box" data-offset="30">Opening Hours</a>
						</li>
						<li>
							<a href="#gallery-box" data-offset="30">Gallery</a>
						</li>
						<li>
							<a href="#social-box" data-offset="30">Social Networks</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- form listing -->
			<form class="add-listing__form">

				<div class="container">

					<!-- form box -->
					<div class="add-listing__form-box element-waypoint" id="general-info">

						<h2 class="add-listing__form-title">
							General Information:
						</h2>

						<div class="add-listing__form-content">
							<div class="row">
								<div class="col-md-6">
									<label class="add-listing__label" for="list-title">
										Listing Title:
									</label>
									<input class="add-listing__input" type="text" name="list-title" id="list-title" placeholder="Title" />
								</div>
								<div class="col-md-6">
									<label class="add-listing__label" for="category">
										Category:
									</label>
									<select class="add-listing__input js-example-basic-multiple" name="category" id="category">
										<option>Categories: </option>
										<option>Art's</option>
										<option>Health</option>
										<option>Hotels</option>
										<option>Real Estate</option>
										<option>Rentals</option>
										<option>Restaurant</option>
										<option>Shopping</option>
										<option>Travel</option>
										<option>Vacation</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label class="add-listing__label" for="keyword">
										Keyword:
									</label>
									<input class="add-listing__input" type="text" name="keyword" id="keyword" placeholder="Keywords should be separated by commas" />
								</div>
								<div class="col-md-6">
									<label class="add-listing__label" for="website">
										Website:
									</label>
									<input class="add-listing__input" type="text" name="website" id="website" placeholder="Enter website address" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<label class="add-listing__label" for="price">
										Price Range:
									</label>
									<select class="add-listing__input js-example-basic-multiple" name="price" id="price">
										<option>$</option>
										<option selected>$$ - Normal</option>
										<option>$$$</option>
										<option>$$$$</option>
									</select>
								</div>
								<div class="col-md-4">
									<label class="add-listing__label" for="phone">
										Phone:
									</label>
									<input class="add-listing__input" type="text" name="phone" id="phone" placeholder="Enter phone number" />
								</div>
								<div class="col-md-4">
									<label class="add-listing__label" for="email">
										Email:
									</label>
									<input class="add-listing__input" type="text" name="email" id="email" placeholder="Enter email address" />
								</div>
							</div>
							<label class="add-listing__label" for="description">
								Description:
							</label>
							<textarea class="add-listing__textarea" name="description" id="description" placeholder="Describe the listing"></textarea>
						</div>

					</div>

					<!-- form box -->
					<div class="add-listing__form-box element-waypoint" id="location-box">

						<h2 class="add-listing__form-title">
							Location:
						</h2>

						<div class="add-listing__form-content">
							<div class="row">
								<div class="col-md-4">
									<label class="add-listing__label" for="country">
										Country:
									</label>
									<input class="add-listing__input" type="text" name="country" id="country" placeholder="Enter your country" />
								</div>
								<div class="col-md-4">
									<label class="add-listing__label" for="city">
										City:
									</label>
									<select class="add-listing__input js-example-basic-multiple" name="city" id="city">
										<option>Select City: </option>
										<option>London</option>
										<option>Liverpool</option>
										<option>Amsterdal</option>
										<option>Berlin</option>
										<option>Hamburg</option>
										<option>Viena</option>
										<option>Istanbul</option>
										<option>New Yourk</option>
										<option>Madrid</option>
									</select>
								</div>
								<div class="col-md-4">
									<label class="add-listing__label" for="address">
										Address:
									</label>
									<input class="add-listing__input" type="text" name="address" id="address" placeholder="Enter address" />
								</div>
							</div>
						</div>

					</div>

					<!-- form box -->
					<div class="add-listing__form-box element-waypoint" id="opening-box">

						<h2 class="add-listing__form-title">
							Opening Hours:
						</h2>

						<div class="add-listing__form-content">
							<div class="row">
								<div class="col-lg-1 col-md-2">
									<label class="add-listing__label with-padding-top" for="weekdays">
										Weekdays:
									</label>
								</div>
								<div class="col-lg-11 col-md-10">
									<div class="row">
										<div class="col-md-6">
											<select class="add-listing__input js-example-basic-multiple" name="weekdays" id="weekdays">
												<option>Opening time </option>
												<option>7:00 A.M</option>
												<option>8:00 A.M</option>
												<option>9:00 A.M</option>
												<option>10:00 A.M</option>
												<option>11:00 A.M</option>
												<option>12:00 A.M</option>
												<option>01:00 P.M</option>
												<option>02:00 P.M</option>
												<option>03:00 P.M</option>
												<option>04:00 P.M</option>
												<option>05:00 P.M</option>
												<option>06:00 P.M</option>
												<option>07:00 P.M</option>
												<option>08:00 P.M</option>
												<option>09:00 P.M</option>
												<option>10:00 P.M</option>
												<option>11:00 P.M</option>
												<option>00:00 A.M</option>
											</select>
										</div>
										<div class="col-md-6">
											<select class="add-listing__input js-example-basic-multiple">
												<option>Closing time </option>
												<option>7:00 A.M</option>
												<option>8:00 A.M</option>
												<option>9:00 A.M</option>
												<option>10:00 A.M</option>
												<option>11:00 A.M</option>
												<option>12:00 A.M</option>
												<option>01:00 P.M</option>
												<option>02:00 P.M</option>
												<option>03:00 P.M</option>
												<option>04:00 P.M</option>
												<option>05:00 P.M</option>
												<option>06:00 P.M</option>
												<option>07:00 P.M</option>
												<option>08:00 P.M</option>
												<option>09:00 P.M</option>
												<option>10:00 P.M</option>
												<option>11:00 P.M</option>
												<option>00:00 A.M</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-1 col-md-2">
									<label class="add-listing__label with-padding-top" for="weekends">
										Weekends:
									</label>
								</div>
								<div class="col-lg-11 col-md-10">
									<div class="row">
										<div class="col-md-6">
											<select class="add-listing__input js-example-basic-multiple" name="weekends" id="weekends">
												<option>Opening time </option>
												<option>7:00 A.M</option>
												<option>8:00 A.M</option>
												<option>9:00 A.M</option>
												<option>10:00 A.M</option>
												<option>11:00 A.M</option>
												<option>12:00 A.M</option>
												<option>01:00 P.M</option>
												<option>02:00 P.M</option>
												<option>03:00 P.M</option>
												<option>04:00 P.M</option>
												<option>05:00 P.M</option>
												<option>06:00 P.M</option>
												<option>07:00 P.M</option>
												<option>08:00 P.M</option>
												<option>09:00 P.M</option>
												<option>10:00 P.M</option>
												<option>11:00 P.M</option>
												<option>00:00 A.M</option>
											</select>
										</div>
										<div class="col-md-6">
											<select class="add-listing__input js-example-basic-multiple">
												<option>Closing time </option>
												<option>7:00 A.M</option>
												<option>8:00 A.M</option>
												<option>9:00 A.M</option>
												<option>10:00 A.M</option>
												<option>11:00 A.M</option>
												<option>12:00 A.M</option>
												<option>01:00 P.M</option>
												<option>02:00 P.M</option>
												<option>03:00 P.M</option>
												<option>04:00 P.M</option>
												<option>05:00 P.M</option>
												<option>06:00 P.M</option>
												<option>07:00 P.M</option>
												<option>08:00 P.M</option>
												<option>09:00 P.M</option>
												<option>10:00 P.M</option>
												<option>11:00 P.M</option>
												<option>00:00 A.M</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<!-- form box -->
					<div class="add-listing__form-box element-waypoint" id="gallery-box">

						<h2 class="add-listing__form-title">
							Gallery:
						</h2>

						<div class="add-listing__form-content">
							<div class="add-listing__input-file-box">
								<input class="add-listing__input-file" type="file" name="file" id="file" />
								<div class="add-listing__input-file-wrap">
									<i class="la la-cloud-upload"></i>
									<p>Click here to upload your images</p>
								</div>
							</div>
						</div>

					</div>

					<!-- form box -->
					<div class="add-listing__form-box element-waypoint" id="social-box">

						<h2 class="add-listing__form-title">
							Social Networks:
						</h2>

						<div class="add-listing__form-content">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<label class="add-listing__label" for="facebook">
										Facebook <span>(optional)</span>:
									</label>
									<input class="add-listing__input" type="text" name="facebook" id="facebook" placeholder="Facebook URL" />
								</div>
								<div class="col-md-3 col-sm-6">
									<label class="add-listing__label" for="twitter">
										Twitter <span>(optional)</span>:
									</label>
									<input class="add-listing__input" type="text" name="twitter" id="twitter" placeholder="Twitter URL" />
								</div>
								<div class="col-md-3 col-sm-6">
									<label class="add-listing__label" for="youtube">
										YouTube <span>(optional)</span>:
									</label>
									<input class="add-listing__input" type="text" name="youtube" id="youtube" placeholder="YouTube URL" />
								</div>
								<div class="col-md-3 col-sm-6">
									<label class="add-listing__label" for="pinterest">
										Pinterest <span>(optional)</span>:
									</label>
									<input class="add-listing__input" type="text" name="pinterest" id="pinterest" placeholder="Pinterest URL" />
								</div>
							</div>
						</div>

					</div>

					<div class="center-button">
						<button class="add-listing__submit" type="submit">
							<i class="fa fa-paper-plane" aria-hidden="true"></i>
							Preview and Submit Listing
						</button>
					</div>

				</div>

			</form>
		</section>
		<!-- End add-listing -->
		<!-- footer block module
			================================================== -->
		<footer class="footer footer-black">
			<div class="container">

				<div class="footer__up-part">
					<div class="row">
						<div class="col-md-4">

							<div class="footer__widget text-widget">
								<img src="~/html/images/logo.png" alt="triptip-logo">
								<p class="footer__widget-description">
									Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
								</p>
							</div>

						</div>
						<div class="col-md-4">

							<div class="footer__widget subscribe-widget">
								<h2 class="footer__widget-title footer__widget-title-white">
									Subscribe
								</h2>
								<p class="footer__widget-description">
									Be notified about new locations
								</p>
								<form class="footer__subscribe-form">
									<input class="footer__subscribe-input" type="text" name="email-sub" id="email-sub" placeholder="Enter your Email" />
									<button class="footer__subscribe-button footer__subscribe-button-primary" type="submit">
										<i class="la la-arrow-circle-o-right" aria-hidden="true"></i>
									</button>
								</form>
							</div>

						</div>
						<div class="col-md-4">

							<div class="footer__widget text-widget">
								<h2 class="footer__widget-title footer__widget-title-white">
									Contact Info
								</h2>
								<p class="footer__widget-description">
									1000 5th Ave to Central Park, New York <br>
									+1 246-345-0695 <br>
									info@example.com
								</p>
							</div>

						</div>
					</div>
				</div>

				<div class="footer__down-part footer__down-part-black">
					<div class="row">
						<div class="col-md-7">
							<p class="footer__copyright">
								© Copyright 2018 - All Rights Reserved
							</p>
						</div>
						<div class="col-md-5">
							<ul class="footer__social-list">
								<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>

		</footer>
		<!-- End footer -->

	</div>
	<!-- End Container -->

	<script src="~/html/js/jquery.min.js"></script>
	<script src="~/html/js/jquery.migrate.js"></script>
	<script src="~/html/https://maps.googleapis.com/maps/api/js?key=AIzaSyCiqrIen8rWQrvJsu-7f4rOta0fmI5r2SI"></script>
	<!--build:js js/triptip-plugins.min.js -->
	<script src="~/html/js/jquery-ui.min.js"></script>
	<script src="~/html/js/select2.min.js"></script>
	<script src="~/html/js/jquery.imagesloaded.min.js"></script>
	<script src="~/html/js/jquery.isotope.min.js"></script>
	<script src="~/html/js/owl.carousel.min.js"></script>
	<script src="~/html/js/jquery.waypoints.min.js"></script>
	<script src="~/html/js/retina-1.1.0.min.js"></script>
	<script src="~/html/js/jquery.appear.js"></script>
	<script src="~/html/js/infobox.min.js"></script>
	<script src="~/html/js/markerclusterer.js"></script>
	<script src="~/html/js/maps.js"></script>
	<!-- endbuild -->
	<script src="~/html/js/popper.js"></script>
	<script src="~/html/js/bootstrap.min.js"></script>
	<script src="~/html/js/jquery.countTo.js"></script>
	<script src="~/html/js/script.js"></script>

</body>
</html>