<!-- banner-block
			================================================== -->
<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<!-- section-header module -->
				<div class="section-header">
					<h1 class="section-header__title white-style">
						Join Our Amazing Community
					</h1>
					<p class="section-header__description white-style">
						Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euimdod tincidunt ut laoreet dolore magna aliquam erat.
					</p>
				</div>
				<!-- end section-header module -->

			</div>
			<div class="col-md-4">
				<a class="btn-default" href="#">
					<i class="fa fa-check-circle-o" aria-hidden="true"></i>
					Register Now
				</a>
			</div>
		</div>
	</div>
</section>
<!-- End banner-block -->