@model Otel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDetailLarge.cshtml";
}

		================================================== -->
<header class="clearfix white-header-style fullwidth-with-search">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">

			<a class="navbar-brand" href="index.html">
				<img src="~/html/images/logo-black.png" alt="">
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li>
						<a class="active" href="index.html">Home <i class="fa fa-caret-down" aria-hidden="true"></i></a>
						<ul class="dropdown">
							<li><span>Demo Pages</span></li>
							<li><a href="index.html">Homepage 1</a></li>
							<li><a href="home2.html">Homepage 2</a></li>
							<li><a href="home3.html">Homepage 3</a></li>
							<li><a href="home4.html">Homepage 4</a></li>
						</ul>
					</li>
					<li>
						<a href="portfolio.html">Pages <i class="fa fa-caret-down" aria-hidden="true"></i></a>
						<div class="megadropdown">
							<div class="dropdown-box">
								<span>Explore pages</span>
								<ul class="dropdown-list">
									<li><a href="explore-sidebar-map.html">Explore map sidebar</a></li>
									<li><a href="explore-fullwidth-map.html">Explore fullwidth map</a></li>
									<li><a href="explore-category.html">Explore by Category</a></li>
									<li><a href="explore-fullwidth-map-list.html">Explore list</a></li>
								</ul>
							</div>
							<div class="dropdown-box">
								<span>Listing detail pages</span>
								<ul class="dropdown-list">
									<li><a href="listing-detail-large.html">Listing detail large image</a></li>
									<li><a href="listing-detail-sidebar.html">Listing detail with sidebar</a></li>
									<li><a href="listing-detail-fullwidth.html">Listing detail fullwidth</a></li>
								</ul>
							</div>
							<div class="dropdown-box">
								<span>Simple pages</span>
								<ul class="dropdown-list">
									<li><a href="about.html">About Us</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="single-post.html">Blog Single Post</a></li>
								</ul>
							</div>
							<div class="dropdown-box">
								<span>Account pages</span>
								<ul class="dropdown-list">
									<li><a href="add-listing.html">Add listing</a></li>
									<li><a href="sign-page.html">Login &amp; Registration</a></li>
									<li><a href="user-page.html">User page</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
				<form class="search-form">
					<div class="search-form__input-holders">
						<input class="search-form__input" type="text" name="search-event" placeholder="What are you looking for?" />
						<select class="search-form__input search-form__input-location js-example-basic-multiple">
							<option>Location? </option>
							<option>New York</option>
							<option>California</option>
							<option>Washington</option>
							<option>New Jersey</option>
							<option>Miami</option>
							<option>San Francisco</option>
							<option>Boston</option>
							<option>Pensilvania</option>
							<option>Other</option>
						</select>
					</div>

					<button class="search-form__submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
				</form>
				<ul class="navbar-nav ml-auto right-list">
					<li><a href="sign-page.html"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Sign In</a></li>
					<li><a href="sign-page.html"><i class="fa fa-user-o" aria-hidden="true"></i> Register</a></li>
				</ul>
				<a href="add-listing.html" class="add-list-btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Add Listing</a>
			</div>
		</div>
	</nav>
</header>
<!-- End Header -->
<!-- listing-detail
	================================================== -->
<section class="listing-detail">

	@await Component.InvokeAsync("_DetailLargeBigGalleryComponentPartial",Model.Id)

	<div class="listing-detail__scroll-menu-box scroller-menu">
		<div class="container">
			<ul class="listing-detail__scroll-menu navigate-section">
				<li>
					<a class="active" href="#overview-box">Overview</a>
				</li>
				<li>
					<a href="#gallery-box">Gallery</a>
				</li>
				<li>
					<a href="#tips-reviews-box">Tips and Reviews</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="listing-detail__content">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="listing-detail__content-box">

						@await Component.InvokeAsync("_DetailLargeOverviewComponentPartial",Model.Id)

						<!-- gallery-box -->
						@await Component.InvokeAsync("_DetailLargeGalleryBoxComponentPartial")

						<!-- tips & reviews-box -->
						@await Component.InvokeAsync("_DetailLargeTipsandReviewsComponentPartial")
					</div>
				</div>
				<div class="col-lg-4">
					<div class="sidebar">



						@await Component.InvokeAsync("_DetailLargeProprietorProfileComponentPartial")
						<div id="mapSingle" data-latitude="51.5344894" data-longitude="-0.1370057" data-map-icon="la la-cutlery">
						</div>

						<div class="sidebar__widget sidebar__widget-listing-details">
							<h2 class="sidebar__widget-title">
								Details
							</h2>
							<ul class="sidebar__listing-list">
								<li>
									<i class="la la-map-marker"></i>
									305 Franklin Ave (at Lafayette Ave), Brooklyn
								</li>
								<li>
									<i class="la la-mobile-phone"></i>
									+44 20 7336 8898
								</li>
								<li>
									<i class="la la-link"></i>
									https://yourrestaurant.com
								</li>
								<li>
									<i class="la la-clock-o"></i>
									<span class="color-close">Closed until Noon</span>
									<div>
										<p>
											Mon–Thu, Sun <span class="right-align">Noon–Midnight</span>
										</p>
										<p>
											Fri–Sat <span class="right-align">Noon–1:00 AM</span>
										</p>
									</div>
								</li>
							</ul>
						</div>

						<div class="sidebar__widget sidebar__widget-tags">
							<h2 class="sidebar__widget-title">
								Listing Tags
							</h2>
							<ul class="sidebar__tags-list">
								<li><a href="#">Cafe</a></li>
								<li><a href="#">Restaurant</a></li>
								<li><a href="#">food</a></li>
								<li><a href="#">Romantic</a></li>
								<li><a href="#">Cozy</a></li>
								<li><a href="#">Sea Food</a></li>
								<li><a href="#">Healthy Food</a></li>
								<li><a href="#">Pasta</a></li>
							</ul>
						</div>

						<div class="sidebar__widget sidebar__advertise">
							<span class="sidebar__advertise-title">
								advertising box
							</span>
							<img src="~/html/upload/add.jpg" alt="">
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>



</section>
<!-- End listing-detail -->