<!-- testimonial-block
			================================================== -->
<section class="testimonial">
	<div class="container">

		<!-- section-header module -->
		<div class="section-header">
			<h1 class="section-header__title">
				People Talking About Us
			</h1>
			<p class="section-header__description">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
			</p>
		</div>
		<!-- end section-header module -->

		<div class="testimonial__box owl-wrapper">
			<div class="owl-carousel" data-num="3">

				<div class="item">

					<!-- testimonial-post module -->
					<div class="testimonial-post">

						<div class="testimonial-post__content">

							<span class="testimonial-post__quote">"</span>

							<p class="testimonial-post__description">
								“ Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh, nullam mollis. Ut justo. Suspendisse potenti. ”
							</p>

						</div>

						<img class="testimonial-post__image" src="~/html/upload/test1.jpg" alt="testimonial-image">

						<h2 class="testimonial-post__title">
							Michael Osborne
						</h2>

					</div>
					<!-- end testimonial-post module -->

				</div>

				<div class="item">

					<!-- testimonial-post module -->
					<div class="testimonial-post">

						<div class="testimonial-post__content">

							<span class="testimonial-post__quote">"</span>

							<p class="testimonial-post__description">
								“Ut justo suspendisse potenti. Sed vel lacus mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus.”
							</p>

						</div>

						<img class="testimonial-post__image" src="~/html/upload/test2.jpg" alt="testimonial-image">

						<h2 class="testimonial-post__title">
							Lara Joy
						</h2>

					</div>
					<!-- end testimonial-post module -->

				</div>

				<div class="item">

					<!-- testimonial-post module -->
					<div class="testimonial-post">

						<div class="testimonial-post__content">

							<span class="testimonial-post__quote">"</span>

							<p class="testimonial-post__description">
								“Sed vel lacus mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. ”
							</p>

						</div>

						<img class="testimonial-post__image" src="~/html/upload/test3.jpg" alt="testimonial-image">

						<h2 class="testimonial-post__title">
							John Smith
						</h2>

					</div>
					<!-- end testimonial-post module -->

				</div>

				<div class="item">

					<!-- testimonial-post module -->
					<div class="testimonial-post">

						<div class="testimonial-post__content">

							<span class="testimonial-post__quote">"</span>

							<p class="testimonial-post__description">
								“ Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh, nullam mollis. Ut justo. Suspendisse potenti. ”
							</p>

						</div>

						<img class="testimonial-post__image" src="~/html/upload/test1.jpg" alt="testimonial-image">

						<h2 class="testimonial-post__title">
							Michael Osborne
						</h2>

					</div>
					<!-- end testimonial-post module -->

				</div>

			</div>
		</div>

	</div>
</section>
<!-- End testimonial-block -->