@model LoginViewModel
<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<a class="nav-item nav-link active" id="nav-sign-tab" data-toggle="tab" href="#nav-sign" role="tab" aria-controls="nav-sign" aria-selected="true">Sign in</a>
		<a class="nav-item nav-link" id="nav-register-tab" data-toggle="tab" href="#nav-register" role="tab" aria-controls="nav-register" aria-selected="false">Register</a>
	</div>
</nav>
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-sign" role="tabpanel" aria-labelledby="nav-sign-tab">

		<!-- sign-form-module -->
		<form class="sign-form">
			<label class="sign-form__label" for="username">
			 Email address or Username:
			</label>
			<input class="sign-form__input-text" type="text" name="username" id="username" placeholder="@Model.Email or @Model.UserName" />
			<label class="sign-form__label" for="password">
				Password:
			</label>
			<input class="sign-form__input-text" type="password" name="password" id="password" placeholder="@Model.Password" />
			<div class="sign-form__checkbox">
				<input class="sign-form__input-checkbox" type="checkbox" name="rememb-check" id="rememb-check" />
				<span class="sign-form__checkbox-style"></span>
				<span class="sign-form__checkbox-text">Remember me</span>
			</div>
			<a class="sign-form__forget-link" href="#">Forget password?</a>

			<button class="sign-form__submit" id="submit-loggin" type="submit">
				<i class="fa fa-sign-in" aria-hidden="true"></i>
				Login
			</button>
			<p class="sign-form__text">
				or Login With
			</p>
			<ul class="sign-form__social">
				<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i></a></li>
			</ul>
		</form>

		<!-- End sign-form-module -->

	</div>
