
<div class="sidebar__widget sidebar__widget-author">
	<h2 class="sidebar__widget-title">
		Author
	</h2>

	<!-- Author-wrapper module -->
	<div class="author-wrapper">
		<div class="author-wrapper__profile">
			<div class="row">
				<div class="col-7">
					<div class="author-wrapper__content">
						<a class="author-wrapper__image" href="#"><img src="~/html/upload/avatar1.jpg" alt=""></a>
						<h3 class="author-wrapper__title">
							<a href="#">Matt Smith</a>
							<span class="author-wrapper__location">
								New York
							</span>
						</h3>
					</div>
				</div>
				<div class="col-5">
					<a class="author-wrapper__btn follow-btn" href="#">
						<i class="la la-eye"></i>
						Follow
					</a>
				</div>
			</div>
		</div>
		<ul class="author-wrapper__list">
			<li>
				<span>42</span>
				List
			</li>
			<li>
				<span>12</span>
				Followers
			</li>
			<li>
				<span>34</span>
				Following
			</li>
			<li>
				<span>56</span>
				Reviews
			</li>
		</ul>
	</div>
	<!-- End Author-wrapper module-->
</div>