<div class="listing-detail__scroll-menu-box scroller-menu">
	<div class="container">
		<ul class="listing-detail__scroll-menu navigate-section">
			<li>
				<a class="active" href="#overview-box">Tarih</a>
			</li>
			<li>
				<a href="#gallery-box">Görseller</a>
			</li>
			<li>
				<a href="#trending-places-box">En Sevilenler</a>
			</li>
			<li>
				<a href="#">Etkinlikler</a>
			</li>
			<li>
				<a href="#">Rehber</a>
			</li>
			<li>
				<a href="#tips-reviews-box">Yorumlar</a>
			</li>
		</ul>
	</div>
</div>

					
				 