<footer class="footer footer-black">
	<div class="container">

		<div class="footer__up-part">
			<div class="row">
				<div class="col-md-4">

					<div class="footer__widget text-widget">
						<img src="~/html/images/bg.jpg" alt="triptip-logo">
						<p class="footer__widget-description">
							Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
						</p>
					</div>

				</div>
				<div class="col-md-4">

					<div class="footer__widget subscribe-widget">
						<h2 class="footer__widget-title footer__widget-title-white">
							Subscribe
						</h2>
						<p class="footer__widget-description">
							Be notified about new locations
						</p>
						<form class="footer__subscribe-form">
							<input class="footer__subscribe-input" type="text" name="email-sub" id="email-sub" placeholder="Enter your Email" />
							<button class="footer__subscribe-button footer__subscribe-button-primary" type="submit">
								<i class="la la-arrow-circle-o-right" aria-hidden="true"></i>
							</button>
						</form>
					</div>

				</div>
				<div class="col-md-4">

					<div class="footer__widget text-widget">
						<h2 class="footer__widget-title footer__widget-title-white">
							Contact Info
						</h2>
						<p class="footer__widget-description">
							1000 5th Ave to Central Park, New York <br>
							+1 246-345-0695 <br>
							info@example.com
						</p>
					</div>

				</div>
			</div>
		</div>

		<div class="footer__down-part footer__down-part-black">
			<div class="row">
				<div class="col-md-7">
					<p class="footer__copyright">
						© Copyright 2018 - All Rights Reserved
					</p>
				</div>
				<div class="col-md-5">
					<ul class="footer__social-list">
						<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>

</footer>
<!-- End footer -->
	</div>
<!-- End Container -->