@model RegisterViewModel
<div class="tab-pane fade" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab">


	<!-- sign-form-module -->
	<form class="sign-form">
		<label class="sign-form__label" for="email">
			Email address:
		</label>
		<input class="sign-form__input-text" type="text" name="email" id="email" placeholder="Enter your email" />
		<label class="sign-form__label" for="username2">
			Username:
		</label>
		<input class="sign-form__input-text" type="text" name="username2" id="username2" placeholder="Enter your name" />
		<label class="sign-form__label" for="password2">
			Password:
		</label>
		<input class="sign-form__input-text" type="password" name="password2" id="password2" placeholder="Password" />
		<label class="sign-form__label" for="con-password2">
			Confirm Password:
		</label>
		<input class="sign-form__input-text" type="password" name="con-password2" id="con-password2" placeholder="Confirm Password" />
		<div class="sign-form__checkbox">
			<input class="sign-form__input-checkbox" type="checkbox" name="rememb-check2" id="rememb-check2" />
			<span class="sign-form__checkbox-style"></span>
			<span class="sign-form__checkbox-text">I've read and accept terms & conditions</span>
		</div>

		<button class="sign-form__submit" type="submit" id="submit_signup">
			<i class="fa fa-sign-in" aria-hidden="true"></i>
			Sign Up
		</button>
		<p class="sign-form__text">
			or Sign Up With
		</p>
		<ul class="sign-form__social">
			<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i></a></li>
		</ul>
	</form>

	<!-- End sign-form-module -->
</div>
				</div>