@model List<City>

<!-- gallery-box -->
<div class="listing-detail__gallery element-waypoint" id="gallery-box">
	<h2 class="listing-detail__content-title">Görselller</h2>
	<div class="listing-detail__gallery-inner owl-wrapper">
		<div class="owl-carousel" data-num="4">
			@foreach (var item in Model)
			{
				@foreach (var image in item.Images)
				{
					<div class="item">
						<img src="~/html/images/@image.Url" alt="">
					</div>
				}}
		</div>
	</div>
</div>
