﻿@*Profil Sınıfları Bilgileri *@ 
<div class="col-lg-4">
	<div class="sidebar">

		<div id="mapSingle" data-latitude="51.5344894" data-longitude="-0.1370057" data-map-icon="la la-cutlery">
		</div>

		<div class="sidebar__widget sidebar__widget-listing-details">
			<h2 class="sidebar__widget-title">
				Details
			</h2>
			<ul class="sidebar__listing-list">
				<li>
					<i class="la la-map-marker"></i>
					305 Franklin Ave (at Lafayette Ave), Brooklyn
				</li>
				<li>
					<i class="la la-mobile-phone"></i>
					+44 20 7336 8898
				</li>
				<li>
					<i class="la la-link"></i>
					https://yourrestaurant.com
				</li>
				<li>
					<i class="la la-clock-o"></i>
					<span class="color-close">Closed until Noon</span>
					<div>
						<p>
							Mon–Thu, Sun <span class="right-align">Noon–Midnight</span>
						</p>
						<p>
							Fri–Sat <span class="right-align">Noon–1:00 AM</span>
						</p>
					</div>
				</li>
			</ul>
		</div>

		<div class="sidebar__widget sidebar__widget-author">
			<h2 class="sidebar__widget-title">
				Author
			</h2>

			<!-- Author-wrapper module -->
			<div class="author-wrapper">
				<div class="author-wrapper__profile">
					<div class="row">
						<div class="col-7">
							<div class="author-wrapper__content">
								<a class="author-wrapper__image" href="#"><img src="~/html/upload/avatar1.jpg" alt=""></a>
								<h3 class="author-wrapper__title">
									<a href="#">Matt Smith</a>
									<span class="author-wrapper__location">
										New York
									</span>
								</h3>
							</div>
						</div>
						<div class="col-5">
							<a class="author-wrapper__btn follow-btn" href="#">
								<i class="la la-eye"></i>
								Follow
							</a>
						</div>
					</div>
				</div>
				<ul class="author-wrapper__list">
					<li>
						<span>42</span>
						List
					</li>
					<li>
						<span>12</span>
						Followers
					</li>
					<li>
						<span>34</span>
						Following
					</li>
					<li>
						<span>56</span>
						Reviews
					</li>
				</ul>
			</div>
			<!-- End Author-wrapper module-->
		</div>

		<div class="sidebar__widget sidebar__widget-tags">
			<h2 class="sidebar__widget-title">
				Listing Tags
			</h2>
			<ul class="sidebar__tags-list">
				<li><a href="#">Cafe</a></li>
				<li><a href="#">Restaurant</a></li>
				<li><a href="#">food</a></li>
				<li><a href="#">Romantic</a></li>
				<li><a href="#">Cozy</a></li>
				<li><a href="#">Sea Food</a></li>
				<li><a href="#">Healthy Food</a></li>
				<li><a href="#">Pasta</a></li>
			</ul>
		</div>

		<div class="sidebar__widget sidebar__advertise">
			<span class="sidebar__advertise-title">
				advertising box
			</span>
			<img src="upload/add.jpg" alt="">
		</div>

	</div>
</div>
		</div>
	</div>
</div>



		</section>