<!-- how-it-work-block
			================================================== -->
<section class="how-it-work">
	<div class="container">

		<!-- section-header module -->
		<div class="section-header">
			<h1 class="section-header__title white-style">
				How It Works
			</h1>
			<p class="section-header__description white-style">
				Explore some of the best tips from around the world.
			</p>
		</div>
		<!-- end section-header module -->

		<div class="how-it-work__box">
			<div class="row">

				<div class="col-lg-4 col-md-6">

					<!-- how-work-post module -->
					<div class="how-work-post">

						<span class="how-work-post__icon">
							<i class="la la-compass" aria-hidden="true"></i>
						</span>

						<h2 class="how-work-post__title how-work-post__title-white">
							Explore The City
						</h2>

						<p class="how-work-post__description how-work-post__description-white">
							Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
						</p>

					</div>
					<!-- end how-work-post module -->

				</div>

				<div class="col-lg-4 col-md-6">

					<!-- how-work-post module -->
					<div class="how-work-post">

						<span class="how-work-post__icon">
							<i class="la la-binoculars" aria-hidden="true"></i>
						</span>

						<h2 class="how-work-post__title how-work-post__title-white">
							Find Interesting Place
						</h2>

						<p class="how-work-post__description how-work-post__description-white">
							Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.
						</p>

					</div>
					<!-- end how-work-post module -->

				</div>

				<div class="col-lg-4 col-md-6">

					<!-- how-work-post module -->
					<div class="how-work-post">

						<span class="how-work-post__icon">
							<i class="la la-plus-circle" aria-hidden="true"></i>
						</span>

						<h2 class="how-work-post__title how-work-post__title-white">
							Add Your Listing
						</h2>

						<p class="how-work-post__description how-work-post__description-white">
							In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida.
						</p>

					</div>
					<!-- end how-work-post module -->

				</div>

			</div>
		</div>

	</div>
</section>
<!-- End how-it-work-block -->