﻿
<!doctype html>


<html lang="en" class="no-js">
<head>
	<title>Triptip</title>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="~/html/css/triptip-assets.min.css">
	<link rel="stylesheet" type="text/css" href="~/html/css/style.css">

</head>
<body>

	<!-- Container -->
	<div id="container">
		<!-- Header
			================================================== -->
		<header class="clearfix">

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container">

					<a class="navbar-brand" href="index.html">
						<img src="~/html/~/html/images/logo.png" alt="">
					</a>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li>
								<a class="active" href="/">Home <i class="fa fa-caret-down" aria-hidden="true"></i></a>
								<ul class="dropdown">
									<li><a href="/">Homepage </a></li>
									<li><a href="CityDetail">İstanbul </a></li>

								</ul>
							</li>
							<li>
								<a href="portfolio.html">Pages <i class="fa fa-caret-down" aria-hidden="true"></i></a>
								<div class="megadropdown">
									<div class="dropdown-box">
										<span>Explore pages</span>
										<ul class="dropdown-list">
											<li><a href="explore-sidebar-map.html">Explore map sidebar</a></li>
											<li><a href="explore-fullwidth-map.html">Explore fullwidth map</a></li>
											<li><a href="explore-category.html">Explore by Category</a></li>
											<li><a href="explore-fullwidth-map-list.html">Explore list</a></li>
										</ul>
									</div>
									<div class="dropdown-box">
										<span>Listing detail pages</span>
										<ul class="dropdown-list">
											<li><a href="listing-detail-large.html">Listing detail large image</a></li>
											<li><a href="listing-detail-sidebar.html">Listing detail with sidebar</a></li>
											<li><a href="listing-detail-fullwidth.html">Listing detail fullwidth</a></li>
										</ul>
									</div>
									<div class="dropdown-box">
										<span>Simple pages</span>
										<ul class="dropdown-list">
											<li><a href="about.html">About Us</a></li>
											<li><a href="blog.html">Blog</a></li>
										</ul>
									</div>
									<div class="dropdown-box">
										<span>Account pages</span>
										<ul class="dropdown-list">
											<a asp-controller="PropertyProfile" asp-action="Index">Property Girişi</a>
											<a asp-controller="AddListing" asp-action="Index">Property Kayıt</a>

											<a asp-controller="User" asp-action="SignIn">SignIn</a>
											<a asp-controller="User" asp-action="SignIn">Register</a>
										</ul>
									</div>
								</div>
							</li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
						<ul class="navbar-nav ml-auto right-list">
							<li>
								<a asp-controller="User" asp-action="SignIn">
									<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Sign In
								</a>
							</li>
							<li>
								<a asp-controller="User" asp-action="SignIn">
									<i class="fa fa-user-o" aria-hidden="true"></i> Register
								</a>
							</li>
						</ul>

						<a asp-controller="AddListing" asp-action="Index" class="add-list-btn btn-default">
							<i class="fa fa-plus" aria-hidden="true"></i> Add Listing
						</a>
					</div>
				</div>
			</nav>
		</header>


       @*  @await Component.InvokeAsync("_CityDetailUpPartHeaderComponentPartial") *@

		@* @await Component.InvokeAsync("_CityDetailListingHeaderComponentPartial")

		@await Component.InvokeAsync("_CityDetailScrollMenuComponentPartial")

        @await Component.InvokeAsync("_CityDetailScrollMenuDescriptionComponentPartial")

		@await Component.InvokeAsync("_CityDetailScrollGalleryComponentPartial")

        @await Component.InvokeAsync("_CityDetailScrollMenuTrendingComponentPartial")

        @await Component.InvokeAsync("_CityDetailScrollMenuCommentComponentPartial")

		@await Component.InvokeAsync("_CityDetailProprietorProfileComponentPartial")

        @await Component.InvokeAsync("_CityDetailFooterComponentPartial")

        @await Component.InvokeAsync("_CityDeailScriptPartComponentPartial") *@
		@RenderBody()

</body>
</html>
		